#product-single{
    @extend .clearfix;
    background:$white;
    margin-bottom: rem-calc(30);

    .product-image{
        @extend .small-12;
        @extend .large-4;
        float:left;

        img{
            margin:0;
            width:100%;
        }
    }
    .product-info{
        @extend .small-12;
        @extend .large-4;
        float:left;
        padding:rem-calc(30);
        text-align:center;
    }
    .product-more-info{
        @extend .small-12;
        float:left;
        padding:rem-calc(0 30);
        max-height:0px;
        overflow:hidden;
        transition: max-height 0.6s;
        &.open{
            max-height: 600px;
        }
    }
    .product-order{
        @extend .small-12;
        @extend .large-4;
        float:left;
        padding:rem-calc(30);
    }
    .shop_attributes{
        th{
            text-align: left;
        }
        p{
            margin:0;
        }
    }
    .price{
        display:block;
        font-size:rem-calc(24);
        text-align: center;
        padding:rem-calc(10 0);
    }
    button[type="submit"]{
        width:100%;
    }
    .woocommerce-tabs{
        margin-bottom:rem-calc(30);
    }
    #related-products{
        @extend .clearfix;
    }
}
.form-row{
    @extend .small-12;
    @extend .large-6;
    float:left;
}
.reset_variations{
    display:none!important;
}
.variations{
    select{
        margin:0;
    }
}
#product-list{
    .woocommerce-ordering{
        @extend .small-12;
        @extend .large-5;
        float:left;
    }
    ul.products{
        padding:rem-calc(30 0);
        margin:0;
        @extend .clearfix;

        .single-product-list-item{
            @extend .small-12;
            float:left;
            list-style: none;
            padding:rem-calc(15 0);
            margin:0;

            &:last-child{
                border:none;
            }
            tbody{ 
                border:none;
                td{
                    padding:0;
                }
            }        
            figure{
                @extend .clearfix;
                margin:0;
                padding:rem-calc(15);
                background: $white;
                border-bottom: 1px solid #9c8777;

                header{
                    @extend .small-12;
                    @extend .medium-6;
                    font-size:rem-calc(24);
                    float:left;
                    h3{
                        display:inline;
                    }
                    .price{

                    }    
                }
                .open-add-to-cart{
                    @extend .small-12;
                    @extend .large-3;
                    float:left;
                }
                .visit-product-page{
                    @extend .small-12;
                    @extend .large-3;
                    float:left;
                }
                .wp-post-image{
                    @extend .small-12;
                    @extend .large-2;
                    float:left;
                }
                .product-list-info{
                    @extend .small-12;
                    @extend .large-10;
                    @media #{$medium-up} {
                        padding-left:rem-calc(30);
                    }

                    float:left;
                }
                .list-add-to-cart-wrapper{
                    @extend .small-12;
                    float:left;
                    padding:0;
                    max-height:0px;
                    overflow:hidden;
                    transition: max-height 0.6s;
                    &.open{
                        max-height: 800px;
                    }
                }
            }
            div[itemprop="description"]{
                width:100%;
                clear:both;
            }
        } 
    } 
}
.sidebar{
    padding-left:rem-calc(15);
    .cart_list{
        margin:0;
    }
    .mini_cart_item{
        background:$white;
        padding:rem-calc(15);
        padding-left:rem-calc(15);
        margin-bottom:rem-calc(15);
        list-style-type:none;
        position:relative;

        .remove{
            position:absolute;
            top: rem-calc(5);
            left:rem-calc(10);
        }
        .product-image{
            width:20%;
            float:left;
        }
        .main-info{
            width:80%;
            float:left;
            padding-top:rem-calc(15);
            .quantity{
                float:right;
            }
        }
        .open-info{
            width:100%;
            text-align: center;
        }
        .addon-info{
            overflow:hidden;
            max-height:0;
            transition:max-height 0.3s;
            &.open{
                max-height:rem-calc(500);
            }
        }
    }
}